@media (max-width: 768px) {
}
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "sidebar"
            "main"
            "footer";
        }

.cabecalho {
    flex-direction: column;
    justify-content: center;
}

.cabecalho .logo{
    text-align: center;
}

.cabecalho .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar {
    flex-direction: row;
}

.sidebar ul {
    display: flex;
    gap: 1rem;
}

.template-filmes .filme{
    border: 1px solid white;
    padding: 0%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem
   ;
}