* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    background-color: #1E1E2F; 
}

.cabecalho {
    grid-area: header;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.cabecalho .logo img {
    max-width: 30%;
}

.cabecalho .menu {
    display: flex;
    gap: 1em;
    flex-direction: row;
}

.cabecalho .menu a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}

.cabecalho .menu a:hover {
    color: #D90429; 
    border: 1px solid white;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
    background-color: #121212; 
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFE81F;
}
.sidebar ul li a:hover {
    color: #D90429; 
}

.conteudo{
    grid-area: main;
}

.template-filmes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.template-filmes .filme{
    max-width: 30%;
    color: white
}

.template-filmes .filme img{
    max-width: 100%;
    
}

.footer {
    grid-area: footer;
    color: gold;
    text-align: center;
     font-size: 20px;
}